name: Use Conda enviroment yaml in the repo to import catalogbuilder and run pytests

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda env create -f environment.yml --name catalogbuilder
    - name: Test with pytest
      run: |
        conda install pytest
        $CONDA/envs/catalogbuilder/bin/pytest tests/test_import.py 

    - name: Test with pytest
      run: |
        conda install pytest
        $CONDA/envs/catalogbuilder/bin/pytest tests/test_catalog.py 
